<template name="Register">
  <div class="register">
    <h1>Register</h1>
    <div>
    	<form class="register">
    	<table>
    		<tr>
    			<td><label>Name</label></td>
    			<td><input type="text" id="name" placeholder="Name" required></td>
    			<td><input type="text" id="surname" placeholder="Surname" required></td>
    		</tr>
    		<tr>
    			<td><label>Gender</label></td>
    			<td><!--<input type="radio" name="gender" value="male" checked> Male--></td>
    			<td><!--<input type="radio" name="gender" value="female"> Female--></td>
    		</tr>
    		<tr>
    	    	<td><label>Student ID</label></td>
    	    	<td><input type="text" id="student_id" placeholder="5x010xxxxxxxx" maxlength="13" required></td>
    	    	<td></td>
    		</tr>
    		<tr>
    	    	<td><label>Phone Number</label></td>
    	    	<td><input type="text" id="phone_number" placeholder="08xxxxxxxx" maxlength="10" required></td>
    	    	<td></td>
    		</tr>
    		<tr>
    	    	<td><label>Email</label></td>
    	    	<td><input type="text" id="email" placeholder="youremail@yourdomain.com" required></td>
    	    	<td></td>
    		</tr>
    		<tr>
    	    	<td><label>Password</label></td>
    	    	<td><input type="password" id="password" required></td>
    	    	<td></td>
    		</tr>
    	</table><br>
    	<input type="submit" id="register_button" value="Register">
    	</form>
    </div>
  </div>
</template>
