<template name="ShowStudentInformation">
  <div class="show-student-information">
    <h1>Show Student Information</h1>
    <div id="search_panel">
    ค้นหาด้วย ชื่อ : <input type="text" id="search_name_box" placeholder="ชื่อ">
    <input type="text" id="search_surname_box" placeholder="นามสกุล">
    รหัสนักศึกษา : <input type="text" id="search_student_id_box" placeholder="5x010xxxxxxxx" maxlength="13">
    </div>
    <br><br>
    <div>
      <table>
        <tr>
          <td><label>ชื่อ - นามสกุล</label></td>
          <td><label>รหัสนักศึกษา</label></td>
          <!--<td><label>Gender</label></td>-->
          <td><label>เบอร์โทรศัพท์</label></td>
          <td><label>Email</label></td>
          <td></td>
          <td></td>
        </tr>
        {{#each getStudentInformation}}
        <tr>
          <td>{{prefix}}{{name}} {{surname}}</td>
          <td>{{student_id}}</td>
          <!--<td>{{gender}}</td>-->
          <td>{{phone_number}}</td>
          <td>{{email}}</td>
          <td><button type="button" id="edit_button" value="{{_id}}">แก้ไข</button></td>
          <td><button type="button" id="delete_button" value="{{_id}}">ลบ</button></td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
</template>
