<template name="Login">
  <div class="login">
  	<div id="login_panel">
  		
  		{{#if currentUser}}
  		<div id="logged_in">
  		<label>ยินดีต้อนรับ </label>{{#with getUserInfo}}<label>{{prefix}}{{name}} {{surname}}</label>{{/with}}
  		<br>
  		<button type="button" id="logout_button">Logout</button>
  		</div>
  		
      {{else}}
      <div id="not_login">
      <table>
        <tr><td><label>รหัสนักศึกษา </label></td><td><input type="text" id="username"></td></tr>
        <tr><td><label>รหัสผ่าน </label></td><td><input type="password" id="password"></td></tr>
      </table>
      <button type="button" id="login_button">เข้าสู่ระบบ</button>
      <label> </label><button type="button" id="register_button">ลงทะเบียน</button>
      </div>
      {{/if}}
  	</div>
  </div>
</template>
